<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${SCRAP_ADMOB_APP_ID}" />
        <meta-data
            android:name="com.hhy0111.scrapfrontier.COMMERCE_MODE"
            android:value="${SCRAP_COMMERCE_MODE}" />
        <meta-data
            android:name="com.hhy0111.scrapfrontier.COMMERCE_PURCHASES_ENABLED"
            android:value="${SCRAP_COMMERCE_PURCHASES_ENABLED}" />
        <meta-data
            android:name="com.hhy0111.scrapfrontier.COMMERCE_REWARDED_ENABLED"
            android:value="${SCRAP_COMMERCE_REWARDED_ENABLED}" />
        <meta-data
            android:name="com.hhy0111.scrapfrontier.STARTER_PACK_PRODUCT_ID"
            android:value="${SCRAP_STARTER_PACK_PRODUCT_ID}" />
        <meta-data
            android:name="com.hhy0111.scrapfrontier.COMMANDER_PACK_PRODUCT_ID"
            android:value="${SCRAP_COMMANDER_PACK_PRODUCT_ID}" />
        <meta-data
            android:name="com.hhy0111.scrapfrontier.MONTHLY_PASS_PRODUCT_ID"
            android:value="${SCRAP_MONTHLY_PASS_PRODUCT_ID}" />
        <meta-data
            android:name="com.hhy0111.scrapfrontier.SALVAGE_DROP_AD_UNIT_ID"
            android:value="${SCRAP_SALVAGE_DROP_AD_UNIT_ID}" />
        <meta-data
            android:name="com.hhy0111.scrapfrontier.SCOUT_PING_AD_UNIT_ID"
            android:value="${SCRAP_SCOUT_PING_AD_UNIT_ID}" />
        <meta-data
            android:name="com.hhy0111.scrapfrontier.OFFLINE_OVERDRIVE_AD_UNIT_ID"
            android:value="${SCRAP_OFFLINE_OVERDRIVE_AD_UNIT_ID}" />
        <meta-data
            android:name="com.hhy0111.scrapfrontier.BASE_LOBBY_BANNER_AD_UNIT_ID"
            android:value="${SCRAP_BASE_LOBBY_BANNER_AD_UNIT_ID}" />

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

    <!-- Permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
