SCRAP_VERSION_CODE=1
SCRAP_VERSION_NAME=1.0.0
SCRAP_COMMERCE_MODE_RELEASE=play-services
SCRAP_COMMERCE_PURCHASES_ENABLED_RELEASE=true
SCRAP_COMMERCE_REWARDED_ENABLED_RELEASE=true
SCRAP_ADMOB_APP_ID_RELEASE=ca-app-pub-xxxxxxxxxxxxxxxx~yyyyyyyyyy
SCRAP_STARTER_PACK_PRODUCT_ID_RELEASE=scrap_frontier_starter_pack
SCRAP_COMMANDER_PACK_PRODUCT_ID_RELEASE=scrap_frontier_commander_pack
SCRAP_MONTHLY_PASS_PRODUCT_ID_RELEASE=scrap_frontier_monthly_pass
SCRAP_SALVAGE_DROP_AD_UNIT_ID_RELEASE=ca-app-pub-xxxxxxxxxxxxxxxx/1111111111
SCRAP_SCOUT_PING_AD_UNIT_ID_RELEASE=ca-app-pub-xxxxxxxxxxxxxxxx/2222222222
SCRAP_OFFLINE_OVERDRIVE_AD_UNIT_ID_RELEASE=ca-app-pub-xxxxxxxxxxxxxxxx/3333333333
SCRAP_BASE_LOBBY_BANNER_AD_UNIT_ID_RELEASE=ca-app-pub-xxxxxxxxxxxxxxxx/4444444444
